<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- Google Fonts: Inter en Rehinkt Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Rehinkt+Sans:wght@400;600&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar bg-primary glow-effect">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if title == 'Dashboard' %}active{% endif %}" href="{{ url_for('index') }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'Categorie Specificeren' %}active{% endif %}" href="{{ url_for('specify') }}">Categorie Specificeren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'Categoriseren' %}active{% endif %}" href="{{ url_for('categorize') }}">Categoriseren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'Categorieën beheren' %}active{% endif %}" href="{{ url_for('manage_categories') }}">Categorieën beheren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'Transacties bijwerken' %}active{% endif %}" href="{{ url_for('update_transactions') }}">Transacties bijwerken</a>
        </li>
      </ul>
    </nav>
    <div class="container mt-4">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>